/* Global styles */
body {
  font-family: sans-serif;
  color: #333;
}

.heading1 {
  gap: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

#table_delete_button {
  justify-content: center;
  display: flex;
}

#Log-out {
  color: white;
  background-color: #d2602b;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#log-in-log-out {
  display: flex;
  gap: 10px;
  align-items: center;
}

button {
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

a,
button {
  color: #007bff;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
}

.recipe-card {
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: start;
  gap: 1rem;
}

.recipe-card-details {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.recipe-card-public {
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  gap: 15rem;
  align-items: center;
}

.recipe-card img {
  width: 100px;
  float: left;
  margin-right: 10px;
}

.recipe-card h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.recipe-card p {
  font-size: 0.9em;
}

/* Button styles */
.button {
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-recipe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  color: white;
}

.button:hover {
  background-color: #0062cc;
}

#delete_edit {
  display: flex;
  gap: 10px;
}

.button-danger {
  background-color: #dc3545;
  color: white;
}

#button-danger2 {
  background-color: #95ef79;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Recipe show styles */
.recipe-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.recipe-header h1 {
  font-size: 1.8em;
  font-weight: bold;
}

.recipe-header button {
  margin-left: 10px;
}

.ingredient-table {
  border-collapse: collapse;
  width: 100%;
}

.ingredient-table th,
.ingredient-table td {
  padding: 8px;
  border: 1px solid #ddd;
}

.ingredient-table th {
  background-color: #f5f5f5;
}

.ingredient-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.user-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.user-actions button {
  margin-right: 10px;
}

.flash-message {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 20px;
}

/* Shopping list styles */
.shopping-list {
  border-collapse: collapse;
  width: 100%;
}

.shopping-list th,
.shopping-list td {
  padding: 8px;
  border: 1px solid #ddd;
}

.shopping-list th {
  background-color: #f5f5f5;
}

.shopping-list tr:nth-child(even) {
  background-color: #f2f2f2;
}

li {
  list-style: none;
}

.table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
}

.table th,
.table td {
  padding: 8px;
}

.table th {
  background-color: #f5f5f5;
  font-weight: bold;
}

.button-primary {
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

nav {
  background-color: #333;
  color: white;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  margin-right: 20px;
  transition: color 0.2s ease-in-out;
}

nav a:hover {
  color: #007bff;
}

.app-title {
  font-size: 1.5em;
}

button:hover {
  background-color: #0062cc;
}

.new_food {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.new_food label {
  display: block;
  margin-bottom: 5px;
}

.new_food input[type="text"],
.New_food input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

#recipe_preparation_time {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

#recipe_cooking_time {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

#recipe_description {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.new_food input[type="submit"] {
  background-color: #66d86a;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px 20px;
}

.add-food-form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-food-form label {
  display: block;
  margin-bottom: 5px;
}

.add-food-form input[type="text"],
.add-food-form input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.add-food-form input[type="submit"] {
  background-color: #66d86a;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px 20px;
}

.form-field-public {
  display: flex;
}
